
@{
    ViewBag.Title = "Message";
}

<section class="section">
    <div class="container">
        <div class="alert alert-primary" role="alert">
            Votre demande est bien cree, il va etre traite prochainement et vous allez recevoir la reponse!
        </div>
    </div>
    
</section>

